:root {
  --primary-color: #1d5888;
  --secondary-color: #ff993b;
  --dark-color: #292929;
  --white-color: #dff3e4;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
}

main>.container {
  padding: 60px 15px 0;
  /* margin-bottom: 5rem; */
}

.side-container {
  border: var(--dark-color) solid 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

#magic-container {
  border-radius: 5px;
  position: relative;
}

button.magic-type {
  background-color: white;
  border-radius: 50%;
  font-size: 3rem;
  width: 100px;
  height: 100px;
  border: var(--dark-color) solid 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.poem-container {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}



.tree {
  color: green;
  font-weight: 700;
}

.bolt {
  color: orange;
  font-weight: 700;
}

.wind {
  color: gray;
  font-weight: 700;
}

.flame {
  color: red;
  font-weight: 700;
}

.wave {
  color: blue;
  font-weight: 700;
}


footer {
  background-color: var(--dark-color);
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

footer .social>a {
  color: var(--white-color);
  opacity: 0.75;
}

footer .social>a:hover {
  opacity: 0.9;
  color: var(--secondary-color)
}

.bsicon {
  color: #563d7c;
}

.jsicon {
  color: #e2a128;
}

.html5icon {
  color: #e25226;
}

.cssicon {
  color: #0c73b7;
}

.checklist >li i {
  color: var(--secondary-color)
}

code[class*="language-"],
  pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

#modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1rem;
  border-radius: .25rem;
  background-color: white;
  z-index: 1;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  z-index: 1;
}

#modal.open {
  display: block;
}

#overlay.open {
  display: block;
}
  
  
  
  
  

/* .sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
} */
